<div class="col-md-6">
  <%= simple_form_for @task do |f| %>
    <% f.error_notification %>


    <div class="form-inputs">
      <p><%= f.input :title,
                     required: true%></p>
      <p><%= f.input :priority,
                     required: true,
                     :collection => 1..10,
                     placeholder: "Please select/input priority" %></p>
      <p><%= f.date_field :due_date,
                     as: :date,
                     html5: true, min: Date.today,
                     required: true %></p>
      <p><%= f.input :description,
                     :as => :text,
                     required: true %></p>
      <p><%= f.input :completed %></p>
      <p><%= f.button :submit,
                      class: "btn btn-outline-success" %>
        <%= link_to "Back",
                    :back,
                    class: "btn btn-outline-dark" %></p>
      <% end %>
    </div>
</div>