<div class="task priority_<%= task.priority %> completed_<%= task.completed %>" id="task<%= task.id %>" xmlns="http://www.w3.org/1999/html">
  <p>
    <span class="title"><%= link_to task.title, edit_task_path(task) %></span>
    <span class="badge badge-pill badge-dark"><%= task.priority %></span>
    <% if task.completed == false %>
          <%= link_to content_tag('span', '', class: 'fa fa-square-o'), complete_task_path(task), data: {method: :put, remote: true}, class: 'action' %>
    <% else %>
          <%= link_to content_tag('span', '', class: 'fa fa-check-square-o'), complete_task_path(task), data: {method: :put, remote: true}, class: 'done action' %>
    <% end %>
        <%= link_to content_tag('span', '', class: 'fa fa-trash'), task, method: :delete, data: {remote: true}, class: 'delete' %>
        <%= link_to content_tag('span', '', class: 'fa fa-pencil'), edit_task_path(task), class: 'action' %>
  </p>
</div>